@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(243, 244, 246);
    margin: 0; 
    padding: 0; 
    overflow: hidden;
  }

  .customModal {
    /* top: 10% !important; */
    background-color: whitesmoke !important;
    /* max-width: 500px; */
    width: 90%;
    height: 80%;
  }